.task-create {
  text-align: center;
}

.task-input {
  width: 400px;
  height: 30px;
  margin-top: 10px;
}

.task-button {
  border: solid 0.5mm black;
  width: 410px;
  height: 25px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 15px;
  background-color: #304949a2;
  border-radius: 5px;
}

h1 {
  position: relative;
  top: 12px;
  color: rgb(0, 0, 0);
}

/* #b1dbdb */
