.task-list {
  width: 410px;
  height: 200px;
  margin: 0 auto;
  flex-grow: 1;
}

.task-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  color: rgb(0, 0, 0);
  margin-top: 30px;
  font-size: 22px;
  margin-bottom: 15px;
}

.task-section {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
}

.task-section-button {
  width: 100%;
  background-color: #304949a2;
  color: rgb(255, 255, 255);
  border: solid 0.5mm black;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: bolder;
  font-size: 13px;
}
